/* globals.css */


@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700;800&display=swap');


@theme {
    --font-sans: "JetBrains Mono", monospace;
    --font-mono: "JetBrains Mono", monospace;

    --color-border: #22222a;
    --color-input: #22222a;

    --color-background: #09090b;
    --color-foreground: #e5e5e5;

    --color-card: #0e0e11;
    --color-card-foreground: #e5e5e5;

    --color-popover: #0e0e11;
    --color-popover-foreground: #e5e5e5;

    --color-primary: #bfff00;
    --color-primary-foreground: #09090b;

    --color-destructive: #ff4400;
    --color-destructive-foreground: #ffffff;

    --color-muted: #17171c;
    --color-muted-foreground: #919199;

    --radius-sm: 0rem;
    --radius-md: 0rem;
    --radius-lg: 0rem;
    --radius-xl: 0rem;
    --radius-2xl: 0rem;
    --radius-3xl: 0rem;
    --radius-full: 0rem;

    --animate-caret-blink: caret-blink 1s step-end infinite;
}

@keyframes caret-blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground font-mono antialiased overflow-hidden selection:bg-primary selection:text-primary-foreground;
    }
}